{
    "extends": [
        "standard",
         "plugin:vue/recommended"
    ],
    "globals": {
        "jQuery": "readonly",
        "hljs": "readonly",
        "axios": "readonly",
        "__": "readonly"
    }
}
