// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif:      'Inter', sans-serif;
$font-family-monospace:       'IBM Plex Mono', monospace;
$font-family-base:            $font-family-monospace;
$font-size-base:              0.9rem;
$line-height-base:            1.6;

// Colors
$blue:   #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink:   #f66d9b;
$red:    #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green:  #38c172;
$teal:   #4dc0b5;
$cyan:   #6cb2eb;


$color-primary:   $cyan;
$color-secondary: $teal;
$color-success:   $green;
$color-info:      $indigo;
$color-warning:   $yellow;
