// mixins
@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

// breakpoints

$S:     768px;
$M:     1024px;
$L:     1600px;

// media queries

@mixin MQ($canvas) {
    @if $canvas == S {
        @media only screen and (min-width: $S) { @content; }
    }
    @else if $canvas == M {
        @media only screen and (min-width: $M) { @content; }
    }
    @else if $canvas == L {
        @media only screen and (min-width: $L) { @content; }
    }
}

main > h1 {
    text-align: center;
}

section {
    // The styleguide is divided in sections. They are the containers of various
    // design elements.
    border: 1px solid $gray-200;
    border-radius: 3px;
    background: $white;
    box-shadow: 0 1px 1px rgba(#000, .05);
    padding: 6px;
}

#styleguide-colors .styleguide-color {
    position: relative;
    width: 4.5em;
    height: 4.5em;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50%;
        height: 20%;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 20%;
    }
}

#styleguide-color-primary {
    background: $color-primary;

    &::before {
        background: lighten($color-primary, 5%);
    }

    &::after {
        background: darken($color-primary, 5%);
    }
}

#styleguide-color-secondary {
    background: $color-secondary;

    &::before {
        background: lighten($color-secondary, 5%);
    }

    &::after {
        background: darken($color-secondary, 5%);
    }
}

#styleguide-color-success {
    background: $color-success;

    &::before {
        background: lighten($color-success, 5%);
    }

    &::after {
        background: darken($color-success, 5%);
    }
}

#styleguide-color-info {
    background: $color-info;

    &::before {
        background: lighten($color-info, 5%);
    }

    &::after {
        background: darken($color-info, 5%);
    }
}

#styleguide-color-warning {
    background: $color-warning;

    &::before {
        background: lighten($color-warning, 5%);
    }

    &::after {
        background: darken($color-warning, 5%);
    }
}

#styleguide-icons > ul {
    list-style: none;
}

#styleguide-icons > ul > li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1em;
}

