/* --- lists --- */
ul {
    list-style-type: none;     /* (disc, circle, square) */
    margin-left: 0;
    padding-left: 3.5em;
    position: relative;
}
ul li {
    position: relative;
    text-indent: 0;
}
ul li::before {
    content: "– ";
    position: absolute;
    left: -3.5em;
    width: 2em;
    text-align: left;
    color: inherit;
}

ol {
    list-style-type: none;           /* turn off the default counting style */
    counter-reset: list-counter; /* initialise counter */
    margin-left: 0;
    padding-left: 2.5em;
    position: relative;
}
ol li {
    counter-increment: list-counter; /* add 1 to each <li> */
    position: relative;
    margin-bottom: 1.3em;
    text-indent: 0;
}
ol li::before {
    content: "(" counter(list-counter) ") ";
    position: absolute;
    left: -2.5em;
    width: 2em;
    text-align: left;
    color: inherit;
}
ol li a {
    padding-top: 1.3em;
    margin-left: -2.5em;
    display: block;
}

/* --- texts --- */
a {
    color: #0099ff;
    text-decoration: inherit;
}

h1 {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    letter-spacing: -0.02em;
    line-height: 1.25;
    font-size: 28px;
    font-weight: inherit;
}

.title h1 {
    margin-top: 3.5rem;
    margin-bottom: 0;
    letter-spacing: -0.02em;
    line-height: 1.25;
    font-size: 28px;
    font-weight: inherit;
}

.title p {
    margin-top: 1.5rem;
    letter-spacing: -0.02em;
    line-height: 1.25;
    font-size: 28px;
    font-weight: inherit;
}

/* --- sections and blocks --- */
.mono div {
    background-color: #e6e7e8;
    padding: 2.5em;
    border-radius: 20px;
}
.mono div p {
    padding-bottom: 1.3em;
}
.mono div p:last-child {
    padding-bottom: 0;
}

section {
    margin: 2.5rem;
    margin-bottom: 5rem;
}

/* --- separators --- */
hr {
    border-top-width: 1px;
    border-color: black;
    margin: 5rem 2.5rem;
}
