@import "typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-komarch no-ligatures antialiased;
    }
}

@layer components {
    .nav-menu {
        @apply max-h-0 transition-max-h duration-500 overflow-hidden;
    }

    .nav-menu-expanded {
        max-height: 700px;
    }

    .map-artworks {
        height: 585px;
    }

    @screen md {
        .nav-menu {
            max-height: unset;
        }
    }

    .container-narrow {
        max-width: 762px;
    }

    .post-content {
        @apply container-narrow;
    }

    .post-content p {
        @apply mb-6;
    }

    .post-content img {
        @apply mt-6;
    }

    .post-content a {
        @apply text-blue;
    }
}

@layer utilities {
    .no-ligatures {
        font-variant-ligatures: none;
    }

    .ligatures {
        font-variant-ligatures: common-ligatures;
    }

    .link-area:before {
        content: '';
        @apply absolute inset-0;
    }

    .icon {
        line-height: 1;
    }

    .icon-arrow-r:before {
        @apply icon;
        content: "\2192";
    }

    .icon-arrow-r-long:before {
        @apply icon;
        content: "\27F6";
    }

    .icon-arrow-l:before {
        @apply icon;
        content: "\2190";
    }

    .icon-arrow-l-long:before {
        @apply icon;
        content: "\27F5";
    }

    .icon-mail:before {
        @apply icon;
        content: "\E803";
    }

    .icon-link:before {
        @apply icon;
        content: "\E802";
    }

    .icon-share:before {
        @apply icon;
        content: "\F08E";
    }

    .icon-clock:before {
        @apply icon;
        content: '\01F551'
    }

    .icon-search:before {
        @apply icon;
        content: '\2123'
    }

    .icon-close:before {
        @apply icon;
        content: '\00D7'
    }
}
