@font-face {
    font-family: 'Komarch';
    src:
        url("../fonts/Komora2.2-Regular.woff2") format("woff2"),
        url("../fonts/Komora2.2-Regular.woff") format("woff"),
        url("../fonts/Komora2.2-Regular.otf") format("opentype"),
        url("../fonts/Komora2.2-Regular.eot") format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
}
