@font-face {
    font-family: 'KomarchIcons';
    src: url('../fonts/komarch-icons.eot?xfdiyl');
    src: url('../fonts/komarch-icons.eot?xfdiyl#iefix') format('embedded-opentype'),
    url('../fonts/komarch-icons.ttf?xfdiyl') format('truetype'),
    url('../fonts/komarch-icons.woff?xfdiyl') format('woff'),
    url('../fonts/komarch-icons.svg?xfdiyl#regarch-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Komarch';
    src:
        url("../fonts/komarch-400.woff2") format("woff2"),
        url("../fonts/komarch-400.woff") format("woff"),
        url("../fonts/komarch-400.ttf") format("truetype"),
        url("../fonts/komarch-400.eot") format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
}
